body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
}

textarea {
    width: 100%;
    height: 150px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}
